*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: #111827;
    position: relative;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 1rem;
    margin-bottom: 4rem;
}

.H-esquerdo{
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
}

.btn{
    padding-left: 0.5rem;
    border: 0.1rem #9CA3AF solid;
    border-radius: 0.5rem;
    width: 20.5rem;
    height: 2.5rem;
    font-size: medium;
    color: #f3f4f6;
    background-color: #374151;
}

.btn:nth-child(6){
    background-color: #f59e0b;
    width: 21.2rem;
    height: 2.5rem;
    color: black;
    cursor: pointer;
}

.botoes-editar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 3rem;
    width: 20rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    margin: 2rem auto;
}

.perfil-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-imagem img {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
}
