*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: black;
    position: relative;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 1rem;
    margin-bottom: 4rem;
}

.H-esquerdo{
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
}

.btn{
    padding-left: 0.5rem;
    border: 0.1rem #9CA3AF solid;
    border-radius: 0.5rem;
    width: 20.5rem;
    height: 2.5rem;
    font-size: medium;
    color: black;
}

.btn:nth-child(6){
    background-color: #13C296;
    width: 21.2rem;
    height: 2.5rem;
    color: white;
    cursor: pointer;
}

.botoes-editar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


footer{
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    padding: 2rem;
    align-items: center;    
    gap: 1rem;
}

footer img{
    width: 4rem;
}

.perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-imagem {
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
}

.perfil-imagem img {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
}

.menu-opcoes {
    display: none;
    position: absolute;
    top: 2.5rem;
    right: -8rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-opcoes button {
    display: block;
    width: 100%;
    padding: 0.7rem;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
}

.menu-opcoes button:hover {
    background-color: #f0f0f0;
}