*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 1rem;
    margin-bottom: 4rem;
}

.H-esquerdo{
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
}

.H-direito{
    display: flex;
    gap: 1rem;
    margin-right: 0.5rem;
}

.H-direito button{
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}


.H-direito .icone-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.carrosel{
    position: relative;
    overlay: hidden;
}

.imagens{
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.imagens img{
    width: 80%;
    height: 30rem;
    object-fit: cover;
}

.dots {
    text-align: center;
    position: absolute;
    bottom: 0.6rem;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.controle{
    margin-top: 6rem;
    margin-left: 10rem;
    display: flex;
    gap: 5rem;
}

.controle-restaurante{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(92, 87, 79);
    width: 25rem;
}

.imagem-restaurante{
    background-color: wheat;
    height: 15rem;
    width: 25rem;
}

.imagem-restaurante img{
    width: 100%;
    height: 100%;
}

.label-restaurante{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.btn{
    background-color:  #13C296;
    width: 12rem;
    height: 3rem;
    color: white;
    cursor: pointer;
    font-size: 14pt;
    border-radius: 0.5rem;
}

footer{
    display: flex;
    margin-top: 4rem;
    padding: 2rem;
    justify-content: end;
    align-items: center;    
    gap: 1rem;
}

footer img{
    width: 4rem;
}

@media (max-width: 1024px){

    .controle{
        margin-left: 0;
        gap: 1rem;
    }

    .imagens img{
        height: 22rem;
    }   

    .controle-restaurante{
        margin: 0 auto;
    }

    .btn{
        font-size: 13pt;
    }

} 

@media (max-width: 768px){

    .controle{
        flex-direction: column;
        margin-left: 0;
        gap: 3rem;
    }

    .imagens img{
        height: 20rem;
    }   

    .controle-restaurante{
        margin: 0 auto;
    }

    .btn{
        width: 11rem;
        font-size: 12pt;
    }

} 

@media (max-width: 425px){
    
    header{
        justify-content: flex-start;
        gap: 7rem;
    }

    .H-esquerdo h2{
        font-size: 15pt;
    }

    .carrosel{
        margin: 0 auto;
    }

    .imagens img{
        width: 90%;
        height: 15rem;
        margin: 0 auto;

    }

    .controle{
        flex-direction: column;
        margin-left: 0;
        gap: 2rem;
    }

    .controle-restaurante{
        width: 20rem;
        margin: 0 auto;
    }
    
    .imagem-restaurante{
        background-color: wheat;
        height: 12rem;
        width: 20rem;
    }

    .btn{
        width: 10rem;
        height: 2.5rem;
        font-size: 11pt;
    }

    footer img{
        width: 3rem;
    }

    footer h3{
        font-size: 11pt;
    }

}