*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: #111827;
    position: relative;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 1rem;
    margin-bottom: 4rem;
    
}

.H-esquerdo{
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
}

.tabela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    background-color: #1f2937;
    border-radius: 0.8rem;
}

.tabela table{
    border:  0.1rem #475569;
    margin: 0 auto;
    border-collapse: collapse;
}


.tabela h2{
    color: #f59e0b;
}

thead {
    background-color: #1E1E1E; 
}


.tabela tbody{
    background-color: #475569;
    color: black;  
}

th {
    border: 0.1rem gray solid;
    padding: 0.5rem;
    text-align: center;
}

.tabela tbody tr td{
    color: black;
}

td{
    width: 10rem;
    color: white;
    border: 0.1rem #475569;
    padding: 0.5rem;
    text-align: center;
    padding: 0.5rem;
}

.removerReserva{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.removerReserva div{
    padding: 1rem;
}

.removerReserva input{
    height: 1.7rem;
    border-radius: 0.2rem;
    border: none;
    color: black;
    text-decoration: none;
}

.btn{
    background-color: #DC2626;
    color:black ;
    height: 2.5rem;
    border-radius: 0.5rem;
    width: 5rem;
    cursor: pointer;
    font-size: medium;
}

.btn:hover{
    background-color: #B91C1C;
    color: white;
}
