*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
    height: 100vh;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 1rem;
    margin-bottom: 4rem;
}

.H-esquerdo{
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
}


footer{
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    padding: 2rem;
    align-items: center;    
    gap: 1rem;
}

footer img{
    width: 4rem;
}

